Project_S/Library
Project_S/Logs
Project_S/Temp
Project_S/.vsconfig
Project_S/Assembly-CSharp.csproj
Project_S/Assembly-CSharp-Editor.csproj
Project_S/Project_S.sln
Project_S/Assets/ModularCityAlleyPack/HDRP/ModularCityAlleyPack_HDRP.unitypackage
Project_S/Assets/ModularCityAlleyPack/HDRP/ModularCityAlleyPack_HDRP.unitypackage.meta
Project_S/Assets/ModularCityAlleyPack/URP/ModularCityAlleyPack_URP.unitypackage
Project_S/Assets/ModularCityAlleyPack/URP/ModularCityAlleyPack_URP.unitypackage.meta
